<h3 class="text-center"><%= t('payment.amount') %> : <%= @current_cart.total_amount %></h3>
<div style="text-align: center">
   <form  method="POST" action='<%= storefront_payment_methods_razorpays_path %>'>
      <script
      src="https://checkout.razorpay.com/v1/checkout.js"
      data-key="rzp_test_qJJRYB6nd9ngTm"
      data-amount="
      <@current_cart.total_amount>
      "
      data-currency="<%= AppSetting.instance.currency %>"
      // Replace this with the order_id created using 
      Orders API(https://razorpay.com/docs/api/orders).
      data-order_id="<%= @order.id %>"
      data-buttontext="<%= t('payment.pay') %>"
      data-name="Mini Shop"
      data-description=""
      data-image="https://example.com/your_logo.jpg"
      data-prefill.email="<%= current_user.email%>"
      data-theme.color="#F37254"
      ></script>
      <input type="hidden" custom="Hidden Element" name="hidden">
   </form>
</div>