<div class="container">
    <div class="thickline"></div>
</div>
<nav class="breadcrumb container mb-0">
    <a class="breadcrumb-item" href="<%= storefront_home_path %>">
        <%= t('home.home') %>
    </a>
    <p class="breadcrumb-item">
        <%= t('static_pages.delivery') %>
    </p>
</nav>

<div class="container">

<div class="row">
    <div class="col-md-2">
        <div class="">
            <div class='list-group-item bg-white'>
                <%= link_to t('static_pages.delivery'), delivery_storefront_static_page_path %>
            </div>
            <div class='list-group-item bg-light'>
                <%= link_to t('static_pages.support'), support_storefront_static_page_path %>
            </div>
            <div class='list-group-item bg-light'>
                <%= link_to t('static_pages.terms_and_conditions'), terms_and_conditions_storefront_static_page_path %>
            </div>
            <div class='list-group-item bg-light'>
                <%= link_to t('static_pages.privacy_policy'), privacy_policy_storefront_static_page_path %>
            </div>
            <div class='list-group-item bg-light'>
                <%= link_to t('static_pages.faq'), faq_storefront_static_page_path %>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <p>
            <h1 class='h2'>Delivery</h1>
        </p>

        <div class="text-justify">
            Any kind of information related to your purchased product(s) will be emailed to the email address that you have provided once we receive your payment. This process usually takes few minutes, but for some issue might get extended to 24 hours. In case you do not receive your email up to the allocated time period, you can contact us through our contact page. Also, you can access the products that you have purchased from your account in the Mini shop after logging in.

        </div>
    </div>
</div>

</div>
